/* 
    Document   : custom
    Created on : Mar 10, 2012, 11:33:12 PM
    Author     : Alexey Udivankin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    padding-top: 60px;
}

.storyBlockRight{
    position:absolute;
    top:0px;
    right:0px;
}
.storyBlockRight .btn-group{
    margin-left:10px;    
    float:right;    
}
.storyBlockRight input.btn{
    margin-left:10px;
    float:right;
}
.storyBlock{
    margin-bottom: 10px;
    position: relative;
}
.storyBlockTitle{
    margin-bottom: 10px;
}
.alert{
    padding: 8px 14px;
}
.storyComments{
    display:none;
}
.storyComments textarea {
    width:99%;
}
.storyComments pre {
    position: relative;
    padding-right: 22px;
}
.removeComment{
    position:absolute;
    top:4px;
    right:4px;
    cursor: pointer;
}