/* 
    Document   : custom
    Created on : Mar 10, 2012, 11:33:12 PM
    Author     : Alexey Udivankin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    padding-top: 60px;
}

.storyBlockRight{
    position:absolute;
    top:0px;
    right:0px;
}
.storyBlockRight .storyRating {
    float:left;
    padding: 5px 20px 0 0;
}
.storyBlockRight .btn-group{
    margin-left:10px;
    float:right;    
}
.storyBlockRight input.btn{
    margin-left:10px;
    float:right;
}
.storyBlock{
    margin-bottom: 10px;
    position: relative;
}
.storyBlockTitle{
    margin-bottom: 10px;
}
.alert{
    padding: 8px 14px;
}
.storyComments{
    display:none;
}
.storyComments textarea {
    width:99%;
}
.storyComments pre {
    position: relative;
    padding-right: 22px;
}

.modal {
    display: none;
}
.removeComment{
    position: absolute;
    top: 8px;
    right: 8px;
    line-height: 18px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
a.removeComment:hover{
    text-decoration: none;
    filter: alpha(opacity=0);    
}
.zend_form dt label {
    color: #666;
    padding-left: 8px;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 0;
}

.zend_form ul.errors {
    margin: 0;
}
.zend_form ul.errors li{
    list-style: none;
    color: #B94A48;
    margin: 8px 0;
    background-color: #F2DEDE;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #EED3D7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 170px;
}
.dropdown-menu li > a.disabled {
    color: #aaa;
}
.dropdown-menu li > a.disabled:hover {
    background-color: #eee;
    cursor: default;
}

/* rating stars css [www.pmob.co.uk/temp/star-rating.htm] */
ul.starRating{
	width:80px;
	height:16px;
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(/img/star-matrix.gif) no-repeat 0 0;
}
ul.starRating.nostar {background-position:0 0}
ul.starRating.onestar {background-position:0 -16px}
ul.starRating.twostar {background-position:0 -32px}
ul.starRating.threestar {background-position:0 -48px}
ul.starRating.fourstar {background-position:0 -64px}
ul.starRating.fivestar {background-position:0 -80px}
ul.starRating li {
	cursor: pointer;
 /*ie5 mac doesn't like it if the list is floated\*/
	float:left;
	/* end hide*/
	text-indent:-999em;
}
ul.starRating li a {
	position:absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}
ul.starRating li.one a {left:0}
ul.starRating li.two a {left:16px;}
ul.starRating li.three a {left:32px;}
ul.starRating li.four a {left:48px;}
ul.starRating li.five a {left:64px;}
ul.starRating li a:hover {
	z-index:2;
	width:80px;
	height:16px;
	overflow:hidden;
	left:0;	
	background: url(/img/star-matrix.gif) no-repeat 0 0
}
ul.starRating li.one a:hover {background-position:0 -96px;}
ul.starRating li.two a:hover {background-position:0 -112px;}
ul.starRating li.three a:hover {background-position:0 -128px}
ul.starRating li.four a:hover {background-position:0 -144px}
ul.starRating li.five a:hover {background-position:0 -160px}